* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

#navbar {
  background-color: rgb(193, 35, 35);
  height: 6.5rem;
  width: 100vw;
  padding-right: 3.5rem;
  position: fixed;
  z-index: 200;
}

#navbar ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  color: white;
  margin-right: 3.5rem;
  text-decoration: none;
  font-size: 2.5rem;
}

#welcome-section {
  background-color: rgb(39, 37, 37);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-title {
  color: white;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  font-size: 5.5rem;
  margin-bottom: 1rem;
}

.header-para {
  color: red;
  font-size: 3rem;
  font-style: italic;
}

#projects {
  width: 100vw;
  background-color: #45567d;
  padding-bottom: 15rem;
  position: relative;
}

#projects .title {
  color: white;
  text-align: center;
  text-decoration: underline;
  font-size: 4.5rem;
  padding-top: 7rem;
  margin-bottom: 3rem;
  font-family: sans-serif;
  font-weight: 600;
}

#projects .grid {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  gap: 4rem;
}

.grid .image {
  width: 100%;
  height: 40rem;
  object-fit: cover;
}

.grid .project-title {
  color: white;
  text-align: center;
  background-color: #5a5f6afa;
  padding: 2.5rem;
  margin-top: -1rem;
  font-family: sans-serif;
  font-size: 2rem;
  text-transform: capitalize;
}

.grid .project-title span {
  display: none;
  color: orange;
}

.grid a:hover span {
  display: inline-block;
}

#projects .btn-show-all {
  position: absolute;
  color: white;
  padding: 1.5rem 4.5rem;
  background-color: #5a5f6afa;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4rem;
  border-radius: 0.5rem;
  font-family: sans-serif;
  font-size: 2.5rem;
  transition: 0.4s ease-out;
}

#projects .btn-show-all:hover {
  background-color: orangered;
}

#contact-section {
  background-color: #303841;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50rem;
  border-bottom: 5px solid red;
}

#contact-section h1 {
  color: white;
  font-size: 5.5rem;
  text-align: center;
  text-transform: capitalize;
  font-family: sans-serif;
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
}

#contact-section p {
  color: white;
  font-family: monospace;
  font-style: italic;
  font-size: 2rem;
  margin-bottom: 5rem;
}

.contacts a {
  color: white;
  font-size: 2.5rem;
  margin-right: 2rem;
  display: inline-block;
}

.contact-details:hover {
  transform: translateY(10px);
}

#footer {
  background-color: #303841;
  padding: 4rem 1.5rem;
  color: white;
  font-family: sans-serif;
  font-size: 2rem;
}

#footer p::first-letter {
  text-transform: capitalize;
}

@media (max-width: 55rem) {
  #navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
  }

  .nav-link {
    font-size: 2rem;
  }

  .contacts a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
